/**
 * This page contains the default form styling for the site
 */
fieldset {
  width: 80%;
  margin: auto;
  text-align: center;
  border: 0;
  padding: 0;

  legend {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    padding: 0;
    text-transform: capitalize;
  }

  button {
    padding: 1rem 3rem;
    text-transform: uppercase;
    background-color: teal;
    margin: 1rem 0;
    color: white;
    border: none;
    border-radius: 3px;

  }

  ul {
    padding-left: 0;
  }

  li {
    clear: both;
    list-style: none;
    margin-left: 0;

    input, 
    textarea {
      width: 100%;
      display: block;
      padding: 1rem;
      border: 2px solid #555555;
      transition: all .3s;
      border-radius: 3px;
    }

    textarea {
      resize: none;
    }

    input:focus,
    textarea:focus {
      outline: none;
      border-color: teal;
    }

    label {
      display: block;
      padding: 1rem 0;
      font-weight: bold;
      color: #333;

      &.error {
        color: $red;
        font-size: 10px;
        font-weight: normal;
        line-height: 26px;
        margin-left: 10px;
        width: auto;
      }
    }

    select {
      float: left;
      margin: 0 0 12px;
      width: 150px;
    }

    ul {
      clear: both;
      padding-left: 0;
      position: relative;
      top: -15px;

      input {
        clear: right;
        float: left;
        margin: 0 12px 12px 150px;
      }

      label {
        float: left;
      }
    }
  }

  &.submit {
    border: 0;
    margin-left: 150px;
    margin-top: -30px;
  }
}
