.date-display {
   position: fixed;
   top: 10px;
   right: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: linear-gradient(
      to bottom right,
      rgba(45, 45, 45, .8),
      rgba(teal, .8));
   text-align: center;
   border-radius: 50%;
   box-shadow: 0 .4rem 1.2rem rgba(black, .5);
   height: 100px;
   width: 100px;

   p {
      color: white;
      text-transform: uppercase;
   }
}