/**
 * This file contains all the color variables for the site
 */
$black: #000;
$white: #fff;
$red: #f00;
$blue: #00f;

$teal: #008B8B;
$teal-light: #00CED1;
$char: #333;

// Changes the text highlighting color
$selection-foreground: $blue;
$selection-background: $white;
